body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
}
h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: lighter;
    /* the following are added to center the texts with pictures manually using pixels */
    margin-left: 100px;
    margin-top: -70px;
}
p {
    color: #333;
    /* following style from someone else */
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}
footer {
    margin-top: 50px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



/*added from */
.card{
    width: 700px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid green;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}

.card_small{
    width: 400px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid green;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}
.card h2{
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -70px;
}

img[alt="Logo"]{
  border-radius: 60%;
  width: 70px;
  margin: 10px;
}

img[alt="Android Screenshot"]{
  max-width: 100%;
  margin: auto;
  display: block;
}

/* a "box" to put cards in, automatically positions cards inside the div nicely */
#card_box{
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.grid_layout{
  font-family: calibri;
  justify-content: center;
  display: flex;
  align-items: center;
}
